/* LoadingSpinner.css */
.loading-spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh; /* 100% of the viewport height */
  }
  
  /* Additional styling for the spinner can be added here */
  