/* Checkout.css */

.checkout-container {
  display: flex;
  justify-content:center;
  margin: 20px;
}

.checkout-form {
  width: 40%;
  height: 30%;
}

.form-checkout {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1px;
}

.lable-checkout {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.checkout-container input {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
}

.checkout-container button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.checkout-container button:hover {
  background-color: #45a049;
}

.momo-checkout {
  width: 35%;
  margin-left: 40px;
}

/* Add any additional styles or media queries as needed */
