/* Account.css */

.account-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 28px;
    margin-bottom: 30px;
    text-align: center;
}

.account-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.profile-info,
.order-history {
    width: 48%;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-info h3,
.order-history h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.profile-info p,
.order-history p {
    margin-bottom: 10px;
}

Link {
    text-decoration: none;
    color: #007bff;
    display: block;
    margin-top: 10px;
    transition: color 0.3s;
}

Link:hover {
    color: #0056b3;
}