.shop .category {
    padding: 30px;
    height: 90vh;
}


.chead h1 {
    font-size: 20px;
    margin-bottom: 20px;
}

.chead h1:nth-child(2) {
    opacity: 0.5;
    border-left: 3px solid rgba(0, 0, 0, 0.5);
    padding-left: 70px;
}

.shop .category .box {
    background-color: #f6f9fc;
    margin: 15px 0;
    padding: 5px 10px;
    transition: 0.5s;
    border-radius: 5px;
}

.shop .category img {
    width: auto;
    height: auto;
}

.shop .category .box:hover {
    background-color: #fff;
    box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
}

.shop .box2 {
    margin-top: 100px !important;
    text-align: center;
}

.shop .category button {
    padding: 10px;
    background: none;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
}

.shop .contentWidth {
    margin-left: 30px;
}

.grid1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.shop .product img {
    width: 100%;
    height: 100%;
}

.shop .product {
    transition: 0.5s;
}

.shop .product:hover {
    box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
}

.filter-search input {
    padding: 0.6rem 1rem;
    width: 80%;
}

.filter-category div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.4rem;
}

.filter-category button {
    border: none;
    background-color: #ffffff;
    /* Replace with actual color */
    text-transform: capitalize;
    cursor: pointer;
}

.filter-category button:hover {
    color: #000000;
    /* Replace with actual color */
}

.filter-category .active {
    border-bottom: 1px solid #000000;
    /* Replace with actual color */
    color: #000000;
    /* Replace with actual color */
}

.filter-company--select {
    padding: 0.3rem 1.2rem;
    font-size: 1.6rem;
    color: #000000;
    /* Replace with actual color */
    text-transform: capitalize;
}

.filter-color-style {
    display: flex;
    justify-content: center;
}

.color-all--style {
    background-color: transparent;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
}

.btnStyle {
    width: 2rem;
    height: 2rem;
    background-color: #000000;
    /* Replace with actual color */
    border-radius: 50%;
    margin-left: 1rem;
    border: none;
    outline: none;
    opacity: 0.5;
    cursor: pointer;
}

.btnStyle:hover {
    opacity: 1;
}

.active {
    opacity: 1;
}

.checkStyle {
    font-size: 1rem;
    color: #ffffff;
    /* Replace with actual color */
}

.filter_price input {
    margin: 0.5rem 0 1rem 0;
    padding: 0;
    box-shadow: none;
    cursor: pointer;
}

.filter-clear .btn {
    background-color: #ec7063;
    color: #000000;
    /* Replace with actual color */
}

.i {

    display: flex;
    justify-content: center;
    align-items: center;

}

/* Catg.css */